<!DOCTYPE html>
<html  >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="../../static/landing/assets/images/logo4.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Home</title>
  <link rel="stylesheet" href="../../static/landing/assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="../../static/landing/assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css">
  <link rel="stylesheet" href="../../static/landing/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../static/landing/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="../../static/landing/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="../../static/landing/assets/theme/css/style.css">
  <link rel="preload" as="style" href="../../static/landing/assets/mobirise/css/mbr-additional.css">
  <link rel="stylesheet" href="../../static/landing/assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
</head>
<body>
  <section class="header12 cid-s0iw4YDHDf mbr-fullscreen mbr-parallax-background" id="header12-4">

    

    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(35, 35, 35);">
    </div>

    <div class="container  ">
            <div class="media-container">
                <div class="col-md-12 align-center">
                    <h1 class="mbr-section-title pb-3 mbr-white mbr-bold mbr-fonts-style display-1">
                        NLP API</h1>
                    <p class="mbr-text pb-3 mbr-white mbr-fonts-style display-5">
                        Natural Language Processing tool kit</p>
                    

                    <div class="icons-media-container mbr-white">
                        <div class="card col-12 col-md-6 col-lg-3">
                            <div class="icon-block">
                            <a href="https://mobirise.co/">
                                <span class="mbr-iconfont mbri-idea"></span>
                            </a>
                            </div>
                            <h5 class="mbr-fonts-style display-5">Smart features</h5>
                        </div>

                        <div class="card col-12 col-md-6 col-lg-3">
                            <div class="icon-block">
                                <a href="https://mobirise.co/">
                                    <span class="mbr-iconfont mbrib-sun"></span>
                                </a>
                            </div>
                            <h5 class="mbr-fonts-style display-5">
                                Creative Idea
                            </h5>
                        </div>

                        <div class="card col-12 col-md-6 col-lg-3">
                            <div class="icon-block">
                                
                                    <span class="mbr-iconfont mbri-features"></span>
                                
                            </div>
                            <h5 class="mbr-fonts-style display-5">High Quality</h5>
                        </div>

                        <div class="card col-12 col-md-6 col-lg-3">
                            <div class="icon-block">
                                <a href="https://mobirise.co/">
                                    <span class="mbr-iconfont mbri-like"></span>
                                </a>
                            </div>
                            <h5 class="mbr-fonts-style display-5">Available to everyone</h5>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    
</section>


</body>
</html>
